
.searchInput {
    background-color: rgba(238, 228, 228, 0.322);
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    margin-top: 30px;
    padding: 12px;
    width: 50vw;
    transition: .3s;
}


@media screen and (min-width: 500px) {
    .searchInput {
       width: 60vw !important;
    }
}

@media screen and (min-width: 1000px) {
    .searchInput {
       width: 500px !important;
    }
}

.searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px aliceblue;
}

.searchButton {
    font-size: 20px;
    padding: 10px 12px 10px 12px;
    background-color: rgba(238, 228, 228, 0.322);
    border-radius: 20px;
    margin-left: 10px;
    transition: .3s;
}

.searchButton:hover {
    cursor: pointer;
    color: rgb(181, 188, 194);
    background-color: rgba(175, 169, 169, 0.322);
}

.searchButton:active {
    color: rgb(118, 125, 129);
    background-color: rgba(133, 126, 126, 0.322);
}
